/* home.css */

main {
  width: 100vw;
  padding: 5px;
}

div#profile {
  border: 10px solid #ff0;
  display: flex;
}

div#profile div {
  flex: 1;
}

div#imgContainer {
  height: 60vh;
  border: 10px dotted #000;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#imgContainer a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

div#imgContainer a img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50, -50);
}

div#imgContainer a img.profile-default {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

div#imgContainer a img.profile-hover {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition: object-fit 0.3s ease-in-out;
}

div#imgContainer a:hover img.profile-default {
  opacity: 0;
}

div#imgContainer a:hover img.profile-hover {
  opacity: 1;
  object-fit: cover;
}

main div#profile div#introduce a p {
  font-size: 5em;
}

main div#profile div#contactIcons {
  border: 1px solid #000;
  display: flex;
}

div#contactIcons div.icon {
  height: 5vh;
  display: flex;
}

div.icon a {
  width: 100%;
  height: 100%;
  border: 1px solid dodgerblue;
  display: block;
  position: relative;

}

div.icon a img {
  height: 100%;
  border: 1px solid #000;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50, -50);
}