@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');

body {
  background: #F8F5E9;
}

div#navContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div.navCard {
  width: 250px;
  height: 250px;
  border: #fcfcfc;
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  box-shadow: 2px 2px 0px 0px #ececec;
}

div.navCard:hover {
  box-shadow: 2px 2px 0px 0px #eeeeee;
}

div.navCard p a {
  display: block;
  height: 20px; 
  font-family: "Waterfall", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  line-height: 10px; 
}

div.navCard p a:hover {
  text-decoration: underline;
  transition: text-decoration 0.2s ease;
}